/* style.css (lub dowolna nazwa pliku z rozszerzeniem .css) */

/* Resetowanie styli dla elementów */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Stylizacja przycisków */
button {
  width: 150px; /* Dostosuj szerokość przycisków według potrzeb */
  margin: 10px auto; /* Ustala marginesy aby wyśrodkować przyciski */
  display: block; /* Wyświetla przyciski jako bloki */
}

/* Stylizacja przycisków z różnymi wariantami */
button[variant="info"] {
  background-color: #3498db;
  color: #fff;
}

button[variant="warning"] {
  background-color: #f39c12;
  color: #fff;
}

button[variant="danger"] {
  background-color: #e74c3c;
  color: #fff;
}
